Hi, {{ organizerName }}!
<p>Good news! User <strong>{{ userName }}</strong> ({{ userEmail }}) has just subscribed to your meetup titled as
  "<strong>{{ meetupTitle }}</strong>"!</p>
<p>
  <small>
    <em>Remember, the meetup datetime has been published as <strong>{{ meetupDate }}</strong>.</em>
  </small>
</p>
